html
  head
    title GeoPix - powered by Bluemix
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet')
    link(href='/public/css/index.css' rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div(class='well')
        h1 GeoPix - Powered by Bluemix
        p
            a(href='/') Map
            &nbsp;|&nbsp;
            a(href='/list') List
    div(class="container-fluid")
        each val, index in results
            div(class="col-md-6")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h3= val.clientDate
                    div(class="panel-body")
                        img(src=val.image)
                        p= 'latitude: ' + val.latitude + ", longitude:" + val.longitude + ", altitude:" + val.altitude